# Byte-compiled / optimized / DLL files
__pycache__/

# IPython Notebook
.ipynb_checkpoints
try.ipynb
work.ipynb
vqgan.ipynb

# search files
imagenet_counter.py

# weights
checkpoints/

# result files
results*/

# tuning shells
train_only_transformer_*.sh
train_with_swin_*.sh
test_only_transformer_*.sh
test_with_swin_*.sh
job.sh

# pipenv
# Pipfile
# Pipfile.lock
.venv/

.conda_env/

core

*.out
+.error
*.stats

