# Byte-compiled / optimized / DLL files
__pycache__/
core
core-python3*

# IPython Notebook
.ipynb_checkpoints
try.ipynb
work.ipynb
vqgan.ipynb

# search files
imagenet_counter.py
datachecker.py

# weights
checkpoints/

# result files
results*/
wandb/

# tuning shells
*_4090-*.sh
*_3090-*.sh
*_A6000*.sh
train_test.sh
test_*.sh
job.sh

# pipenv
Pipfile
Pipfile.lock
